@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lora", serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;

  @media (max-width: 1024px) {
    padding-inline: 2rem;
  }
  @media (max-width: 768px) {
    padding-inline: 1rem;
  }
}

.inner-container {
  max-width: 600px;
  margin-inline: auto;
}

.search-container {
  max-width: 1280px;
  padding-inline: 8rem;

  @media (max-width: 1024px) {
    padding-inline: 2rem;
  }
  @media (max-width: 768px) {
    padding-inline: 1.5rem;
  }
}

button {
  transition: all 300ms;
}
